<div cdkTrapFocus cdkTrapFocusAutoCapture class="panel" [ngClass]="'panel-'+position" *ngIf="visible"
  [class.show]="visible" [@slideAnimation]="position+'In'">
  <div class="panel-content">
    <div class="panel-header" [ngClass]="config.headerContainerClass">
      <h3 class="panel-title" *ngIf="title">{{title}}</h3>
      <button tabindex="0" type="button" (click)="close()" (keypress.enter)="close()" class="panel-close tabfocusable"
        aria-label="Close">
        <i class="icon-close-bold-sm"></i>
      </button>
    </div>
    <div class="panel-body" [ngClass]="config.bodyContainerClass">
      <ng-content></ng-content>
    </div>
  </div>
</div>
